<footer>
    <ul>
        <li>
        <h2>Focus.Frame</h2>
    </li>
    <li>
         <h3>Privacy Policy
            Public Offering Agreement</h3>
        </li>
    </ul>
    <ul>
        <li> <h3>Instagram</h3>
        </li>
       <li>
         <h3>Facebook</h3>
        </li>
       <li>
         <h3>Youtube</h3>
        </li>
       <li>
         <h3> About us</h3>
        </li>
       <li>
         <h3> Our courses</h3>
        </li>
       <li>
         <h3> Our mentors</h3>
        </li>
       <li>
         <h3> Reviews</h3>
        </li>
       <li>
         <h3>contacts</h3>
        </li>
    </ul>
    <ul>
      <li>
          <h3>Enter your email</h3>
        </li>
       <li>
         <h3>2023 Focus Frame
            © All rights reserved</h3>
        </li>
    </ul>
</footer>