<section class="hero">
    <div class="hero-box">
        <div class="hero-div">
            <h1 class="hero-title">
                Discover the magic of <span class="hero-title-span">photography</span> in our school
            </h1>
            <p class="hero-text">
                Our photography school offers an unforgettable journey, where you can learn the basics of composition,
                master technical skills, translate your unique ideas.
            </p>
            <div class="daddy-box">
                <div class="hero-box-one">
                    <ul class="hero-list">
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-girl1.webp" alt="">
                        </li>
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-boy.webp" alt="">
                        </li>
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-girl2.webp" alt="">
                        </li>
                    </ul>
                    <p class="text-item">Our happy students</p>
                </div>
                <div class="hero-box-two">
                    <img class="item-img" src="../img/hero-star.webp" alt="">
                    <p>Reviews +1500</p>
                </div>
            </div>


        </div>
        <img class="hero-image" src="../img/hero-background.webp" alt="cameraman">
    </div>
</section>