<section class="hero">
    <div class="container">
 <div class="hero-box">
        <div class="hero-div">
            <h1 class="hero-title">
                Discover the magic of <span class="hero-title-span">photography</span> in our school
            </h1>
            <p class="hero-text">
                Our photography school offers an unforgettable journey, where you can learn the basics of composition,
                master technical skills, translate your unique ideas.
            </p>
            <div class="daddy-box">
                <div class="hero-box-one">
                    <ul class="hero-list">
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-girl1.webp" alt="">
                        </li>
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-boy.webp" alt="">
                        </li>
                        <li class="hero-item">
                            <img class="item-img" src="../img/hero-girl2.webp" alt="">
                        </li>
                    </ul>
                    <div class="hero-boxe">
                      <p class="text-item">Our happy students</p>
                    <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 0L18 4.33013L12.5 8.66025V5.08013L0 5.08013L0 3.58013L12.5 3.58013V0Z" fill="white" />
                      </svg>  
                    </div>
                    
                </div>
                <div class="hero-box-two">
                    <img class="item-img" src="../img/hero-star.webp" alt="">
                    <p class="hero-box-text">Reviews <span class="hero-box-span">+1500</span> </p>
                </div>
            </div>


        </div>
        <img class="hero-image" src="../img/hero-background.webp" alt="cameraman">

    </div>
    </div>
</section>