<section class="hero">
    <div class="hero-box">
        <div class="hero-div">
            <h1 class="hero-title">
                Discover the magic of <span class="hero-title-span">photography</span> in our school
            </h1>
            <p class="hero-text">
                Our photography school offers an unforgettable journey, where you can learn the basics of composition,
                master technical skills, translate your unique ideas.
            </p>
            <ul class="hero-list">
                <li class="hero-item">
                    <img class="item-img" src="../img/hero-girl1.webp" alt="">
                    <img class="item-img" src="../img/hero-boy.webp" alt="">
                    <img class="item-img" src="../img/hero-girl2.webp" alt="">
                    <p class="text-item">Our happy students</p>
                </li>
                <li class="hero-item">
                    <img class="item-img" src="../img/hero-star.webp" alt="">
                    <p>Reviews +1500</p>
                </li>
            </ul>
        </div>
        <img class="hero-image" src="../img/hero-background.webp" alt="cameraman">
    </div>
</section>