<section class="mentors">
  <div class="container">
  <h2 class="mentors-bigtext">Our <span class="mentors-bigtextt">Mentors </span> </h2>
  <ul class="mentors-list">
    <li class="mentors-item">
      <img class="mentors-photo" src="./img/student3.webp" alt="student" />
      <h3 class="mentors-text">Emilia Smith</h3>
      <p class="mentors-paragraf">1.5 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="./img/student4.webp" alt="student" />
      <h3 class="mentors-text">Alex Lebedev</h3>
      <p class="mentors-paragraf">3.5 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="./img/student2.webp" alt="student" />
      <h3 class="mentors-text">Mia Dubrovska</h3>
      <p class="mentors-paragraf">2.0 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="./img/students1.webp" alt="student" />
      <h3 class="mentors-text">Eliot Kovalev</h3>
      <p class="mentors-paragraf">4.0 years of experience</p>
    </li>
  </ul>
</div>
</section>
