<section class="mentrors">
  <div class="container">
  <h2 class="mentors-bigtext">Our Mentors</h2>
  <ul class="mentors-list">
    <li class="mentors-item">
      <img class="mentors-photo" src="../img/student3.webp" alt="" />
      <h3 class="mentors-text">Emilia Smith</h3>
      <p class="mentors-paragraf">1.5 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="../img/student4.webp" alt="" />
      <h3 class="mentors-text">Alex Lebedev</h3>
      <p class="mentors-paragraf">3.5 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="../img/student-2.webp" alt="" />
      <h3 class="mentors-text">Mia Dubrovska</h3>
      <p class="mentors-paragraf">2.0 years of experience</p>
    </li>
    <li class="mentors-item">
      <img class="mentors-item" src="../img/student-1.webp" alt="" />
      <h3 class="mentors-text">Eliot Kovalev</h3>
      <p class="mentors-paragraf">4.0 years of experience</p>
    </li>
  </ul>
</div>
</section>
