<section>

    <h2 class="reviews">
        Reviews
    </h2>
<ul class="">
    <li class="">
        <div class="rating-stars"></div>
<div class="reviews-card">
    <img class="reviews-photo" src="../img/student-1.webp" alt="">
    <ul class="student-about">
        <li class="student-name"><h3>Abraham Baker</h3></li>
        <li class="student"><p>Student</p></li>
<article class="article-description">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.</article>
</ul>
</div>

    </li>
    <li class="">
        <div class="rating-stars"></div>
        <div class="reviews-card">
            <img class="reviews-photo" src="../img/student-2.webp" alt="">
            <ul class="student-about">
                <li class="student-name"><h3>Amanda Lowery</h3></li>
                <li class="student"><p>Student</p></li>
        <article class="article-about">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.</article>
    </ul>

        </div>





</section>