<section>

    <h2 class="reviews">
        Reviews
    </h2>
<ul><li>
<div>
<li class="reviews-card">
    <img src="" alt="">
    <h4 class="student-name">Abraham Baker--</h4>
    <p>Student</p>
    <article>
        I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.
</li>
</div>

<li>
<div>
    <li class="reviews-card">
        <img src="" alt="">
        <h4 class="student-name">Amanda Lowery</h4>
        <p>Student</p>
        <article>
        The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
    </article>
    </li>
</div>
</li>
</ul>
</section>