<section class="container sing-up">
    <div class="container-sing">
        <ul class="conteiner-list">
            <li class="container-item">
                <a class="title-sing" href="">Sign<span class="title-up">Up</span></a>
                <ul>
                    <li class="tittle-box">
                        <h3 class="info-titel">Please use the form below to contact us. Enter your name, email, and
                            message and we'll get back to you shortly.</h3>
                    </li>
                    <li class="tittle-box">
                        <input class="info-name" placeholder="Enter your name"></input>
                    </li>
                    <li class="tittle-box">
                        <input class="info-name" placeholder="Enter your email"></input>
                    </li>
                    <li class="tittle-box">
                        <input class="info-message" placeholder="Message"></input>
                    </li>
                    <li class="tittle-box">
                        <button class="info-button" type="button">SEND</button>
                    </li>
                    <li class="tittle-box">
                        <h3 class="info-privaticy">By clicking on “Send” button, you agree to our Privacy Policy,
                            and allow Promodo to use this information for marketing purposes.</h3>
                    </li>
                </ul>
            <li class="container-item">
                <div class="picture-shadow">
                    <ul class="camera-list">
                        <li class="camera-item">
                            <div class="camera-photo">
                            <img class="camera-linse" src="../img/camera.webp" alt="camera-linse">
                        </div> 
                        </li>
                        
                        <li class="camera-item">
                            <img class="camera" src="../img/camera-linse.webp" alt="camera">
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>