<section class="container">
    <a class="title-sing" href="">Sign<span class="title-up">Up</span></a>



    
    <h3 class="information">Please use the form below to contact us. Enter your name, email, and message and we'll get
        back to you shortly.</h3>
    <input class="info">Enter your name</input>
    <input class="info">Enter your email</input>
    <input class="info">Message</input>
    <button type="button">SEND</button>
    <h3 class="privaticy">By clicking on “Send” button, you agree to our Privacy Policy,
        and allow Promodo to use this information for marketing purposes.</h3>
</section> 