

.about-us{  font-family: "DM Sans", sans-serif;
font-weight: 500;
font-size: 48px;
line-height: 112%;
letter-spacing: -0.04em;
color: var(--white);
    padding-top: 150px  ;
}






.about-us-list{
display: flex;
    }


    .camera-about{
        background-image: url(../img/camera-about-us.webp);
    background-position: center;
    border-radius: 1000px;
width: 260px;
height: 488px;
background-repeat: no-repeat;
    }

    .camera{
    }
    
    
    .about-title{
        font-weight: 500;
        font-size: 48px;
        line-height: 112%;
        letter-spacing: -0.04em;
        margin-bottom: 50px;

    }

    .us-color{
        font-family: "DM Sans", sans-serif;    
        color: #BEA69E;
        font-weight: 500;
        font-size: 48px;
        line-height: 112%;
        letter-spacing: -0.04em;
    }

     .article-about{
        font-family: "DM Sans", sans-serif;    
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
margin-left: 40px;
margin-right: 20px;
color: white;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     }  

     .article-text{
        font-family: "DM Sans", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
color: white;
font-weight: 400;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     }


