    
.container {
        width: 1100px;
        padding: 10px;
        margin: 0 auto;
    }
.about-us{
    margin-top: 150px;
}



.about-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.04em;
    color: white;
    margin-bottom: 50px;
}

.us-color{
color: #BEA69E;
}


.about{display: flex;
justify-content: center;
align-items: center;
}

.article-about{ 
width: 268px;
    margin-bottom: 0px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: white;
}

.article-description{
    font-family: 'DM Sans', sans-serif;
 margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
color:white;
}

.articles{
    display: flex;
    column-gap: 20px;
    width: 552px;
height: 260px;

}

.camera-about{
margin-right: 40px;
}

.article-styles{
    width: 264px;
    height: 215px;
}