 .container {
       width: 1100px;
       padding: 10px;
       margin: 0 auto;
       outline: 2px solid crimson;
 }

 .footer-site {
       padding-top: 48px;
       background:  #121212 url(../img/Graphic.webp);
       margin-top: 150px;
 }

 .title {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--white);


 }

 .privaticy {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--white);
 }

 .web-sites {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--white);
 }

 .other-info {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--white);
 }

 .inform {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--white);
 }

 .information {
       font-family: "DM Sans";
       font-weight: 400;
       font-size: 16px;
       line-height: 125%;
       letter-spacing: -0.02em;
       color: var(--black);
       border-radius: 12px;
       width: 216px;
       height: 60px;

 }






 .footer-site {
       display: flex;
       justify-content: space-between;
       flex-direction: column;
 }


 .container-item {

       border-color: white;
       border-width: 2px;

 }

 .conteiner-futer {
       display: flex;
       justify-content: space-between;
       flex-direction: column;

 }

 .conteiner-list {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;


 }

 .go-button {
       border-radius: 12px;
       width: 60px;
       height: 60px;
       background: #1d1d1d;
       color: white;
       font-weight: 400;
       font-size: 20px;
       line-height: 120%;
       text-align: center;
 }

 .privaticy {
       padding-top: 177px;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
       padding-bottom: 5px;
 }

 .reserved {
       color: white;
       padding-top: 210px;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
       padding-bottom: 5px;
 }

 .place {
       color: white;
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
       padding-top: 16px;
 }

 .places {
       color: white;
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
 }

 .web-sites {
       text-transform: uppercase;
 }

 .other-info {
       text-transform: uppercase;
 }

 .privaticys {
       color: white;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
 }

 .reseerved {

       color: white;
       font-weight: 400;
       font-size: 14px;
       line-height: 129%;
 }