header {
    background-color: black;
}
.header-link {
    font-family: "DM Sans";
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
color: #fff;
}
.header-button {
    font-family: "DM Sans";
font-weight: 700;
font-size: 18px;
line-height: 156%;
text-transform: uppercase;
color: #121212;;
}