.hero-box {
    border-radius: 30px;
    width: 1080px;
    height: 470px;
    background: #1d1d1d;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;

    display: flex;
}

.hero-div {
    margin-left: 50px;
    margin-right: 50px;
}

.hero-title-span {
    font-style: italic;
    font-weight: 400;
    color: var(--brown);
}

.hero-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 64px;
    line-height: 106%;
    letter-spacing: -0.04em;
    color: var(--white);
    max-width: 530px;
}

.hero-text {
    max-width: 420px;
    height: 54px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--white);
}
