.hero-box {
    border-radius: 30px;
    width: 1080px;
    height: 470px;
    background: #1d1d1d;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
}

.hero-div {
    margin-left: 50px;
    margin-right: 50px;
}

.hero-title-span {
    font-style: italic;
    font-weight: 400;
    color: var(--brown);
}

.hero-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 64px;
    line-height: 106%;
    letter-spacing: -0.04em;
    color: var(--white);
    max-width: 530px;
}

.hero-text {
    max-width: 420px;
    height: 54px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--white);
}

.hero-list {
    display: flex;
    margin-top: 136px;
}

.hero-item:nth-child(1) {
    max-width: 231px;
    display: flex;
}

.hero-item:nth-child(2) {
    max-width: 120px;
    margin-left: 40px;
}

.item-img {
    width: 54px;
    height: 54px;
}

.item-img:nth-child(2) {
    margin-left: -20px;
}

.item-img:nth-child(3) {
    margin-left: -20px;
}

.text-item {
    margin-left: 12px;
    color: var(--white);
}