.container {
  width: 1100px;
  padding: 10px;
  margin: 0 auto;
  outline: 2px solid crimson;
}






.reviews {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 112%;
  letter-spacing: -0.04em;
  color: white;
}

.reviews-card {display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 530px;
  height: 216px;
  background-color: black;
}

.student-name {
  padding-top: 23px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: white;
  margin-bottom: 23px;
}

.student {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.reviews-photo {padding-left: 20px; 
  padding-top: 20px;
  margin-right: 10px;
  border-radius: 100px;
  width: 56px;
  height: 56px;
}

.student-about {
}

.rating-stars{display:flex;
  order: 5;
align-items: flex-end;
background-size: 50px;
width: 500px;
height: 19px;
padding-right: 20px;
padding-top: 20px;

}

.article-description {
  font-family: 'DM Sans', sans-serif;
  color: white;
padding-left: 20px ;
padding-right: 20px;
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
}

.article-about {
  font-family: 'DM Sans', sans-serif;
  color: white;
font-weight: 400;
font-size: 16px;
line-height: 125%;
letter-spacing: -0.02em;
padding-right: 20px;
}

.rewiew-list{
  display: flex;
  justify-content: center;
  gap: 20px ;
}