.reviews-card{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    width: 530px;
    height: 216px;
    background-color: #414141;
}

.reviews{  font-family: "DM Sans", sans-serif;
font-weight: 500;
font-size: 48px;
line-height: 112%;
letter-spacing: -0.04em;
color: ;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
