@import url('./reset.css');
@import url('./heder.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./our_corses.css');
@import url('./our_mentors.css');
@import url('./rewiew.css');
@import url('./sing_up.css');
@import url('./footer.css');

:root {
    --black: #121212;
    --white: #fff;
    --brown: #bea69e;
}

body {
    background: var(--black) ;
    font-family: 'DM Sans';
}